.rc-menu{
  outline:none;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  z-index: 99999;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;

  .rc-menu-item-active,.rc-menu-submenu-active {
    background-color: #8EC8F9 !important;
  }

  > li {
    position: relative;
    display: block;
    padding: 15px 20px;
    white-space: nowrap;

    // Disabled state sets text to gray and nukes hover/tab effects
    &.rc-menu-item-disabled,&.rc-menu-submenu-disabled  {
      color: #777;
    }
  }
  .rc-menu-item-divider {
    padding: 0;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}

.rc-menu-submenu {
  position: relative;

  >.rc-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 160px;
    background-color: #fff;
  }
}

.rc-menu-submenu-open {
  > .rc-menu{
    display: block;
  }
}